* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #020912;
}

.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  margin-left: 20px;
  padding: 6px 15px;
  transition: 0.5s;
}

.navigation a:hover,
.navigation a.active {
  color: #333;
}

.navigation a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 30px;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.navigation a:hover span,
.navigation a.active span {
  transform: scale(1);
  opacity: 1;
}

/* First Section */
.first-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  text-align: justify;
}

.first-section img {
  max-width: 100%;
  border-radius: 10px;
}

/* Second Section */
.scroll-section {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #ddd; */
  background: url('https://s1.cdn.autoevolution.com/images/news/ferrari-sf90-faces-the-296-gtb-in-a-surprisingly-close-set-of-drag-and-rolling-races-214950_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

/* Third Section */
.fade-out-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #bbb; */
  background: url('https://png.pngtree.com/background/20230518/original/pngtree-various-colored-ferrari-cars-on-a-line-picture-image_2649538.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.t_text{
  color: #ffffff;
}

.left-div{
  background-color: #5f5f79;
  text-align: justify;
}

.right-div{
  background-color: #5e4949;
}

.footer{
  height: 205px;
  width: 100%;
  background-color: #000;
  padding-top: 20px;
  text-align: center;
  color: white;
  /*  */
}

.icon_set{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.icon{
  width:50px;
  height:50px;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.icon i{
 font-size: 2rem;
 color: rgb(255, 255, 255);
}

.icon i:hover{
  color: #ff0000;
}

.contact_heading{
  margin-top: 10px;
}